@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Localization


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InternetBanking</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/LayoutsStyles/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/LayoutsStyles/UserLayoutStyle.css">
        <link rel="stylesheet" href="~/css/LayoutsStyles/bootstrap-select.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="~/lib/bootstrap/dist/fonts/glyphicons-halflings-regular.woff" rel="stylesheet">
        <link rel="stylesheet" href="~/css/LayoutsStyles/bootstrap.min.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/LayoutsStyles/UserLayoutStyle.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/LayoutsStyles/bootstrap-select.css" asp-append-version="true">
    </environment>
</head>

<body>
    @inject IViewLocalizer Localizer
    <section class="top-head">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hi-user pull-left">
                        <div class="img-wrapper">
                            <img src="~/@Context.Session.GetString("Logo")" width="100" height="100" />
                        </div>
                        <p>@Localizer["Hello"] <span> @Context.Session.GetString("FullName")</span></p>
                    </div>
                    <div style="float: right; text-align: right;">
                        <p><span> @Context.Session.GetString("Email")</span></p>
                        <p><a asp-action="ChangePassword" asp-controller="Manage" asp-route-id="@ViewBag.UserId">Сменить пароль</a></p>
                       <button id="myBtn">Сменить пароль</button>
        <!-- The Modal -->
        <div id="myModal" class="modal" style="  display: none;position: fixed;z-index: 1;padding-top: 100px;
 left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0); 
 background-color: rgba(0,0,0,0.4);">

                <!-- Modal content -->
                <div style=" position: relative;background-color: #fefefe;margin: auto;padding: 0;
 border: 1px solid #888;width: 35%;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 -webkit-animation-name: animatetop;-webkit-animation-duration: 0.4s;animation-name: animatetop;
 animation-duration: 0.4s" class="modal-content">
                    <div class="modal-header" style="text-align: center; padding: 2px 16px;background-color: #337ab7;color: white;">
                        <span class="close">&times;</span>
                        <h2>Смена пароля</h2>
                    </div>
                    <div class="modal-body" style="padding: 2px 16px; ">
                        <form  class="form-signin formLayout" style=" margin: 10px 20px 10px 5px ;">
                            <div asp-validation-summary="ModelOnly"></div>
                            <span id="reauth-email" class="reauth-email"></span>
                            <input id="OldPassword" type="password" class="form-control" placeholder="@Localizer["OldPassword"]" style="margin: 10px;" required autofocus>
                            <span></span>

                            <input id="NewPassword" type="password" class="form-control" placeholder="@Localizer["NewPassword"]" style="margin: 10px;" required autofocus title="@Localizer["Error"]" data-toggle="popover" data-trigger="hover" data-content="@Localizer["Error"]">
                            <span></span>

                            <input id="ConfirmPassword" type="password" id="inputPassword" class="form-control" placeholder="@Localizer["ConfirmPassword"]" style="margin: 10px;" required autofocus>
                            <span></span>
                            <button id="changePassword" class="btn btn-lg btn-primary btn-block btn-signin" type="submit" style="width: 50%; margin: 0 auto;">@Localizer["Save"]</button>

                        </form>
                    </div>

                </div>

            </div>
                    </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </section>


        <section class="nav-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav">
                            @*<li><a asp-action="Index" asp-controller="User">@Localizer["Cabinet"]</a></li>*@

                        <li><a asp-action="Index" asp-controller="User">@Localizer["Accounts"]</a></li>
                            <li><a asp-action="GetTransfers" asp-controller="Transfer">История платежей</a></li>
                            <li><a asp-action="Transfer" asp-controller="Transfer">@Localizer["Transfer"]</a></li>
                        <li><a asp-action="Index" asp-controller="Template">@Localizer["Template"]</a></li>
                        <li style="float: right;">

                            <a class="enter-but btn pull-right" asp-action="LogOff" asp-controller="User">@Localizer["Exit"]</a>
                        </li>
                        @*<li class="btn-b-bun">
          <a href="#">Dropdown <b class="caret"></b></a>
          <ul class=" b-menu">
            <li><a href="#">Действие</a></li>
            <li><a href="#">Другое действие</a></li>
            <li><a href="#">Что-то еще</a></li>
            <li class="divider"></li>
            <li><a href="#">Отдельная ссылка</a></li>
          </ul>
        </li>*@
                        </ul>
                    </div>
            </div>
        </div>
    </section>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <footer class="footer-content" style="margin-top: 180px">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright">"© Copyright"</p>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery/dist/jquery.maskedinput.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap-select.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    @*@RenderSection("Scripts", false)*@
</body>
</html>

